<!-- <h1>Hello World</h1> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test-01</title>
</head>
<body>
    {% if name %}
        <h1>Hello {{ name }}</h1>
    {% else %}
        <h1>Hello World</h1>
    {% endif %}

{% if products %}

    {% for product in products %}
        <li>The Product Title: {{ product.title }}</li>

        {% if product.collection__title %}
            <li>The Collection Title: {{ product.collection__title }}</li>
        {% endif %}

        <hr />
        <!-- <li>{{ product.description }}</li> -->
        <!-- <hr> -->
    {% endfor %}

{% endif %}

{% if products_list %}

    {% for product in products_list %}
        <li>{{ product.title }}-->{{ product.collection.title}}</li>

        <hr />
    {% endfor %}

{% endif %}

{% if orders %}

    {% for order in orders %}
        <li>{{ order.payment_status }}-->{{ order.customer.first_name }}</li>

        {% for item in order.orderitem_set.all %}
            <li>Product Title Is: {{ item.product.title }}</li>
        {% endfor %}

        <hr />
    {% endfor %}

{% endif %}

{% if products_count %}
    <h1>The Products Count Is: {{ products_count.id__count }}</h1>
    <h1>The Products Count With Keyword Is: {{ products_count.count }}</h1>
    <h1>The Min Price Is: {{ products_count.min_price }}</h1>
    <h1>The Max Price Is: {{ products_count.max_price }}</h1>
{% endif %}

{% if result_1 %}
    <h1>The Number Of Orders: {{ result_1.count }}</h1>
{% endif %}

{% if result_2 %}
    <h1>The Number Of Product 1 Sold: {{ result_2.units_sold }}</h1>
{% endif %}

{% if result_3 %}
    <h1>The Number Of Orders For Customer 1: {{ result_3.count }}</h1>
{% endif %}

{% if result_4 %}
    <h1>The Min Price Of Products In Collection 3: {{ result_4.min_price }}</h1>

    <h1>The Avg Price Of Products In Collection 3: {{ result_4.avg_price }}</h1>

    <h1>The Max Price Of Products In Collection 3: {{ result_4.max_price }}</h1>
{% endif %}

{% if customers %}

    {% for customer in customers %}
        <li>{{ customer.first_name }}==>{{ customer.is_new}} ==> {{ customer.new_id }}</li>
        <li>The Full Name Is: {{ customer.full_name }} ==> {{ customer.full_name_02 }}</li>

        {% if customer.order_count %}
            <li>The Number Of Orders: {{ customer.order_count }}</li>
        {% endif %}

        {% if customer.discount_price %}
            <li>The Discount Price: {{ customer.discount_price }}</li>
        {% endif %}
        <hr />
    {% endfor %}

{% endif %}

{% if products_02 %}

    {% for product in products_02 %}
        <li>The Product Title Is: {{ product.title }}</li>
        <li>The Product Unit Price Is: {{ product.unit_price }}</li>
        <li>The Product Discount Price Is: {{ product.discount_price }}</li>
        <hr />
    {% endfor %}
{% endif %}

{% if collection %}
    <li>New Collection ID is: {{ collection.id }}</li>
    <li>New Collection Title is: {{ collection.title }}</li>
    <li>New Collection Featured Product Title is: {{ collection.featured_product.title }}</li>
{% endif %}

{% if raw_result %}

    {% for product in raw_result %}
        <li>The Product Title: {{ product.title }}</li>

        <hr />
    {% endfor %}

{% endif %}

</body>
</html>

